node_modules/
dist/
dist-electron/
release/
build/*.blockmap

*.log
*.err
*.out

.DS_Store
Thumbs.db

coverage/
.vite/

*.tmp
*.temp
.env
.env.*
.vscode/
.idea/
__pycache__/
*.pyc

electron-err.log
electron-out.log
elog.err
elog.log
vite-err2.log
vite-out.log
vite-out2.log
vite-stderr.log
vite-stdout.log

public/pets/catgirl/sprite-atlas.png
